<div class="contents">
     <div class="header-section">
      <h2>Design List: #<%= params[:keyword]%></h2>
      </div>
    <div class="content_list clearfix">
          <% @designs.each do |design| %>
            <div class="thumbnail">
            <a href="/designs/<%= design.id %>">
            <%= image_tag design.images.first.image.url(:large) %></a>
    <span class="username">
      <span>By  <%= design.user.nickname %></span>
    </span>
      </div>
      <% end %>
      </div>
</div>


