<div class="contents">
  <div class="container form">
    <div class="outer_form">
      <div class="inner_form">
    <h2>Browse</h2>
    </div>
    </div>
    </div>
      <div class="headcategory" id="mood">
        <h3>Mood</h3><%= fa_icon "angle-down" %>
      </div>
      <ul class="subcategory clearfix mood">
        <li class="genre">
          <h4>Modern</h4>
        </li>
        <li class="genre">
          <h4>Retro</h4>
        </li>
        <li class="genre">
          <h4>Natural</h4>
        </li>
        <li class="genre">
          <h4>Simple</h4>
        </li>
        <li class="genre">
          <h4>Cute</h4>
        </li>
      </ul>
      <div class="headcategory" id="color">
        <h3>Color</h3><%= fa_icon "angle-down" %>
      </div>
      <ul class="subcategory clearfix color">
        <li class="genre">
          <h4>Modern</h4>
        </li>
        <li class="genre">
          <h4>Retro</h4>
        </li>
        <li class="genre">
          <h4>Natural</h4>
        </li>
        <li class="genre">
          <h4>Simple</h4>
        </li>
        <li class="genre">
          <h4>Cute</h4>
        </li>
      </ul>
      <div class="headcategory" id="item">
        <h3>Item</h3><%= fa_icon "angle-down" %>
      </div>
      <ul class="subcategory clearfix item">
        <li class="genre">
          <h4>Modern</h4>
        </li>
        <li class="genre">
          <h4>Retro</h4>
        </li>
        <li class="genre">
          <h4>Natural</h4>
        </li>
        <li class="genre">
          <h4>Simple</h4>
        </li>
        <li class="genre">
          <h4>Cute</h4>
        </li>
      </ul>
  </div>
</div>