<% provide :title, " | デザイン閲覧" %>
<div class="contents">
  <div class="container form">
    <div class="outer_form">
      <div class="inner_form">
    <h2>Browse</h2>
    </div>
    </div>
    </div>
    <div class="categories">
      <div class="headcategory" id="style">
        <h3>Style</h3><%= fa_icon "angle-down" %>
      </div>
      <ul class="subcategory clearfix style">
        <li class="genre" style="background-image: url(https://static.pexels.com/photos/245219/pexels-photo-245219.jpeg);">
        <a href="/designs/search?utf8=✓&keyword=modern">
          <h4>Modern</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1467320424268-f91a16cf7c77?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=retro">
          <h4>Retro</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1441986380878-c4248f5b8b5b?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=casual">
          <h4>Casual</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1463620910506-d0458143143e?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=simple">
          <h4>Simple</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1483962550854-480cf765f227?dpr=2&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=cozy">
          <h4>Cozy</h4>
        </a>
        </li>
      </ul>
      <div class="headcategory" id="color">
        <h3>Color</h3><%= fa_icon "angle-down" %>
      </div>
      <ul class="subcategory clearfix color">
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1461418559055-6f020c5a91e7?dpr=2&auto=format&fit=crop&w=1500&h=1071&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=red">
          <h4>Red</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1464564531096-f0163633a18a?dpr=2&auto=format&fit=crop&w=1500&h=1465&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=yellow">
          <h4>Yellow</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://static.pexels.com/photos/260046/pexels-photo-260046.jpeg);">
        <a href="/designs/search?utf8=✓&keyword=green">
          <h4>Green</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://c2.staticflickr.com/6/5444/17516370692_f006ceb5a4_b.jpg);">
        <a href="/designs/search?utf8=✓&keyword=blue">
          <h4>Blue</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/X42R8NZAVX.jpg);">
        <a href="/designs/search?utf8=✓&keyword=gray">
          <h4>Gray</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://c1.staticflickr.com/9/8251/8516750216_c3eee8601f_b.jpg);">
        <a href="/designs/search?utf8=✓&keyword=beige">
          <h4>Beige</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1485277709367-82e999329c80?dpr=2&auto=format&fit=crop&w=1500&h=998&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=white">
          <h4>White</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(http://kaboompics.com/files/upload/o_1ak8nj5m71896cj1tg41vngch67_new.jpg);">
        <a href="/designs/search?utf8=✓&keyword=black">
          <h4>Black</h4>
        </li>
        </a>
      </ul>
      <div class="headcategory" id="item">
        <h3>Item</h3><%= fa_icon "angle-down" %>
      </div>
      <ul class="subcategory clearfix item">
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1484101403633-562f891dc89a?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=sofa">
          <h4>Sofa</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1461218779480-bb61b6be1924?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=table">
          <h4>Table</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1473447216727-44efba8cf0e0?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=books">
          <h4>Books</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1461151304267-38535e780c79?dpr=2&auto=format&fit=crop&w=1500&h=843&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=appliances">
          <h4>Appliances</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://static.pexels.com/photos/90317/pexels-photo-90317.jpeg);">
        <a href="/designs/search?utf8=✓&keyword=bed">
          <h4>Bed</h4>
        </a>
        </li>
        <li class="genre" style="background-image: url(https://images.unsplash.com/photo-1472232533367-7fea57261049?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);">
        <a href="/designs/search?utf8=✓&keyword=curtain">
          <h4>Curtain</h4>
        </a>
        </li>
      </ul>
  </div>
  </div>
</div>