<div class="contents">
  <div class="container">
    <h2>Categories</h2>
      <div class="headcategory" style="background-image: url(http://www.dieselnet.org/static/img/content/transitional-formal-living-room.jpeg);">
        <h3>Mood</h3>
      </div>
      <div class="headcategory" style="background-image: url(http://www.donutrockcity.com/storage/static/img/content/gray-and-turquoise-living-room.jpeg);">
        <h3>Color</h3>
      </div>
      <div class="headcategory" style="background-image: url(http://maxpixel.freegreatpicture.com/static/photo/1x/Indoor-Sample-Room-Estate-Shenzhen-Living-Room-1883067.jpg);">
        <h3>Room Size</h3>
      </div>
  </div>
</div>