<div class="contents">
  <div class="container form">
    <div class="outer_form">
      <div class="inner_form">
    <h2>Edit</h2>
      <%= render 'form', flag: true %>
      </div>
    </div>
  </div>
</div>