<div class="contents clearfix">
  <div class="wrapper" style="background-image: url(https://static.pexels.com/photos/279607/pexels-photo-279607.jpeg);">
  <h2>Find colors for your life</h2w>
  </div>

<div id="designs">
  <div class="page">
  <%= render 'design_list' %>
  </div>
</div>

<script>
$("#designs .page").infinitescroll({
    loading: {
      msgText: "loading..."
    },
    maxPage: 20,
    animate: true,
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: "#designs div.homecontents_1"
});
</script>

</div>