<div class="contents clearfix">
  <% @designs.each do |design| %>
    <div class="content_post">
    <img src="<%= design.images.first.image %>" alt="design"><%= link_to "designs/#{design.id}", method: :get %>
    <div class="tags">
      <ul>
          <li><%= render 'designs/tag_list', tag_list: design.mood_list %></li>
          <li>#livingroom</li>
          <li>#green</li>
          <li>#blue</li>
          <li>#beige</li>
          <li>#fireplace</li>
          <li>#sofa</li>
          <li>#curtain</li>
      </ul>
    </div>
    <span class="username">
      <span>By  <%= design.user.nickname %></span>
    </span>
      <div class="divider"></div>
  </div>
  <% end %>
</div>