<div class="contents clearfix">
  <div class="wrapper" style="background-image: url(http://cdn.home-designing.com/wp-content/uploads/2016/02/blue-and-yellow-nordic-decor.jpg);">
  <h2>Find colors for your life</h2>
  <h4>心地よい空間づくりを</h4>
  </div>

<div id="designs">
  <div class="page">
  <%= render 'design_list' %>
  </div>
</div>

<script>
$("#designs .page").infinitescroll({
    loading: {
      msgText: "loading..."
    },
    maxPage: 20,
    animate: true,
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: "#designs div.homecontents_1"
});
</script>

</div>