<div class="contents">
  <div class="container form">
    <div class="outer_form">
      <div class="inner_form">
    <h2>Share Your Design</h2>
    <h6>こだわりのルームデザインを公開する</h6>
      <%= render 'form', flag: false  %>
      </div>
    </div>
  </div>
</div>

<% provide :title, " | デザイン投稿" %>