<div class="contents">
<div class="container form">
  <div class="outer_form">
  <div class="inner_form">
  <h2>Design Search</h2>
    <div class="form_fields">
    <div class="field">
      <%= form_tag('/designs/search', method: :get) do %>
      <input id="search_query" name="keyword" placeholder="natural, beige" type="text" value=""></input>
      <div class="actions">
      <button class="btn-search" title="Search" type="search">Search</button>
      </div>
      <% end %>
      <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
      </form>
    </div>
    </div>
  </div>
  </div>
  </div>

<% unless params[:keyword] == nil then %>
<div class="container">
  <%= render 'results' %>
</div>
<% end %>