<div class="contents">
  <div class="container">
    <h2>Styles</h2>
      <div class="headcategory" id="mood" style="background-image: url(http://www.dieselnet.org/static/img/content/transitional-formal-living-room.jpeg);">
        <h3>Mood</h3>
      </div>
      <ul class="subcategory clearfix mood">
        <li class="genre">
          <h4>Modern</h4>
        </li>
        <li class="genre">
          <h4>Retro</h4>
        </li>
        <li class="genre">
          <h4>Natural</h4>
        </li>
        <li class="genre">
          <h4>Simple</h4>
        </li>
        <li class="genre">
          <h4>Cute</h4>
        </li>
      </ul>
      <div class="headcategory" id="color" style="background-image: url(http://www.donutrockcity.com/storage/static/img/content/gray-and-turquoise-living-room.jpeg);">
        <h3>Color</h3>
      </div>
      <ul class="subcategory clearfix color">
        <li class="genre">
          <h4>Modern</h4>
        </li>
        <li class="genre">
          <h4>Retro</h4>
        </li>
        <li class="genre">
          <h4>Natural</h4>
        </li>
        <li class="genre">
          <h4>Simple</h4>
        </li>
        <li class="genre">
          <h4>Cute</h4>
        </li>
      </ul>
      <div class="headcategory" id="item" style="background-image: url(http://maxpixel.freegreatpicture.com/static/photo/1x/Indoor-Sample-Room-Estate-Shenzhen-Living-Room-1883067.jpg);">
        <h3>Item</h3>
      </div>
      <ul class="subcategory clearfix item">
        <li class="genre">
          <h4>Modern</h4>
        </li>
        <li class="genre">
          <h4>Retro</h4>
        </li>
        <li class="genre">
          <h4>Natural</h4>
        </li>
        <li class="genre">
          <h4>Simple</h4>
        </li>
        <li class="genre">
          <h4>Cute</h4>
        </li>
      </ul>
  </div>
</div>