<div class="contents">
<h2>My Page</h2>
  <div class="container">
  </div>

<h2>Account Settings</h2>
<div class="container">
  <span class="entry_button">
  <%= link_to 'Sign Out', "/users/sign_out", method: :delete %>
  </span>
</div>
</div>
