<div class="contents">
  <div class="container">
<div class="account_settings">
<h2>Account Settings</h2>
  <ul>
  <li>
  <span><%= fa_icon "key" %></span>
    <%= link_to 'Change Password', "/users/password/edit" %>
  </li>
    <li>
  <span><%= fa_icon "sign-out" %></span>
  <%= link_to 'Sign Out', "/users/sign_out", method: :delete %>
  </li>
  </ul>
  </div>
</div>
</div>