html {
  width: 100%;
}

body {
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  }

.heading {
  width: 100%;
  background-color: #FFFFFF;
  margin: 0 auto;
  height: 120px;

  .user_nav {
  float: right;
  height: 60px;
  padding-top: 55px;
  margin-right: 15px;
  }

}

.navbar {
  height: 87px;
  width: 100%;
  background-color: #5E5E5E;
  margin: 0 auto;
}

.content{
  padding-top: 212px;
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

.content_post {
  height: auto;
  margin: 40px;

    img{
  height: auto;
  width: 100%;
  margin: 0 auto;
  }
}



.tags{
  height: 100px;
  width: 100%;
}


.tags li{
  color: #5E5E5E;
  border: none;
  width: auto;
  padding-right: 10px;
  padding-bottom: 8px;
  height: 50px;
  text-align: center;
  padding-top: 0;
  font-size: 40px;
}

.username span{
  font-size: 45px;
  color: #999999;
  font-style: italic;
  float: right;
  margin: 25px auto;
}

.divider{
  margin-top: 35px;
  width: 400px;
  border-bottom: solid 1.5px #CCCCCC;
  margin: 80px auto;
  margin-bottom: 0;
}

footer{
  background-color: #5E5E5E;
  height: 55px;
  width: 100%;
}

footer p{
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}


h1,h2,h3,h4,h5,h6,body{
  color: #5E5E5E;
  font-size: 40px;
  font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 100;
  margin: 0;
}

a {
  text-decoration: none;
  color: #5E5E5E;
}

.title {
  margin-top: 5px;
  margin-left: 7px;
  font-size: 100px;
  width: 500px;
  float: left;
  padding-left: 20px;
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li{
  color: #FFFFFF;
  margin: 0 auto;
  float: left;
  width: 19.893%;
  text-align: center;
  padding: 20px 0px;
  border-right: solid 1px #FFFFFF;
}

.navbar a{
  color: #FFFFFF;
}

h2 {
  font-size: 50px;
  padding: 30px;
  text-align: center;
  font-weight: 300;
  font-family: "freight-display-pro", "Georgia", "Cambria", "Times New Roman", "Times", serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}

input, textarea {
  border: solid 1px #CCCCCC;
  float: center;
}

.headcategory {
  margin: 15px 50px;
  height: 100px;
  padding: 50px;
  background-position: center;
  background-size: 100% auto;
  border-radius: 7px;
}

.subcategory{
  height: auto;
  margin: 0 50px 50px;

  .genre {
  margin: 1.65%;
  height: 100px;
  width: 18%;
  padding: 6%;
  background-position: center;
  background-size: 100% auto;
  border-radius: 7px;
  float: left;
  }

}

h3 {
  width: 300px;
  border-radius: 7px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  color: #FFFFFF;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 1px 0 black;
  font-weight: 300;
}

.user_nav a {
  margin: 0px 5px;
  font-size: 35px;
}

.container.form {
  background-color: #F6F7F9;
  padding: 50px 0;
}

.inner_form {
  background-color: #FFFFFF;
  border: solid 1px #CCCCCC;
  border-radius: 5px;
  padding: 20px;
}

.outer_form {
  background-color: #FFFFFF;
  padding: 30px;
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
}

.form table{
  margin: 0 auto;
}

.actions{
  text-align: center;
  width: 100%;

  input, button{
  margin: 30px 0px 30px;
  width: 100%;
  background-color: #5E5E5E;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 200;
  padding: 15px 0;
  border-radius: 5px;
  }
}

.form_fields{
  padding: 0 50px;

  .field{
    width: 100%;
    margin: 0 auto;

    label, em {
    font-size: 20px;
    font-weight: 200;
    }

    input, textarea{
    width: 95%;
    height: 38px;
    font-size: 25px;
    border-radius: 5px;
    padding: 2.5%;
    font-weight: 100;
    }

    textarea {
      height: auto;
    }
  }
}

.content_list {
  height: 100%;
  margin: 0 40px;

  img{
  height: auto;
  width: 100%;
  margin: 0 auto;
  }
  .username span {
  font-size: 25px;
  margin: 5px 0px;
  }
}

.more{
  width: 100%;
  margin: 0 auto;
.more_list {
  li {
  font-size: 25px;
  padding: 5px;
  border: 0.7px solid #CCCCCC;
  border-radius: 5px;
  width: 40%;
  margin-left: 10px;
  }
  span{
  color: #5E5E5E;
  }
}
}

.thumbnail{
  width: 30%;
  float: left;
  margin: 10px;
}

.account_settings{
  li{
  width: 100%;
  padding: 5px;
  float: none;
  }
  span{
  color: #5E5E5E;
  }
}

#user_remember_me {
  height: 20px;
  width: 20px;
  padding: 10px;
  margin: 20px 5px 0px;
  float: left;
}

.more_link_box {
  font-size: 20px;
  padding: 0 50px;
  height: auto;
  margin-bottom: 30px;

  a {
    float: left;
    padding-bottom: 10px;
  }

  p {
    font-size: 23px;
    margin: 15px 0 0;
    font-weight: 300;
  }

  i{
    padding: 3px 7px;
    float: left;
  }
  }

